{% extends "base.html" %}

{% block title %}Error{% endblock %}

{% block content %}

<div class="container mt-5">
    {{ errors }}
    <h1 class="font-weight-bold">PAgo no realizado!</h1>
    <p>
        Ha ocurrido algo y el pago no se ha efectuado. Por favor, inténtelo de nuevo.
        Si el error persiste, póngase en contacto con nosotros.
    </p>
    <p id="error-message" class="alert alert-danger text-center" style="display: none;"></p>
    <a class="btn btn-primary" href="{% url 'payments:process' %}">
        Intentar nuevamente
    </a>
</div>

{% endblock %}